{% extends "base.html" %}
{% block title %}SignUp Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}


<p class="important">
<center><h1>Home Depot</h1></center>

            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th width="18.6%">HomeDepot id</th>
                        <th width="18.8%">Homedepot model</th>
                        <th width="10%">HomeDepot price</th>
                        <th width="9%">HomeDepot Stock</th>

                    </tr>
                </thead>
                    {% for homedepot in homedepot %}
                <tbody>
                    <tr>
                        <td width="17%">{{ homedepot._id}}</td>
                        <td width="17%">{{ homedepot.model}}</td>
                        <td width="17%">{{ homedepot.price}}</td>
                        <td width="17%">{{ homedepot.stock}}</td>

                    </tr>
                </tbody>

                {% endfor %}
            </table>


</p>
{% endblock %}
